In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

sns.set_style("darkgrid")

In [10]:
df = pd.read_excel("wpa.xlsx")
df.head()

,Unnamed: 0,text,value,match
0,0,Game Start,0.500000,Washington Nationals @ Boston Red Sox
1,1,WE: 52.2% | Score: 0 - 0<br />Kike Hernandez s...,0.522468,Washington Nationals @ Boston Red Sox
2,2,WE: 49.8% | Score: 0 - 0<br />Kyle Schwarber w...,0.498068,Washington Nationals @ Boston Red Sox
3,3,WE: 54.9% | Score: 0 - 0<br />Xander Bogaerts ...,0.548812,Washington Nationals @ Boston Red Sox
4,4,WE: 52.6% | Score: 0 - 0<br />Lane Thomas stru...,0.526444,Washington Nationals @ Boston Red Sox

In [12]:
df['last_value'] = df.value.shift(1)
df['last_match'] = df.match.shift(1)
df['wpa'] = np.where(df.last_match == df.match, df.value - df.last_value, 0)
df['wpa_abs'] = np.absolute(df.wpa)

In [25]:
df_agg = df.groupby("match").agg(["mean", "sum"])[[("wpa_abs", "mean"),("wpa_abs", "sum")]]
df_agg.columns = ["wpa_mean","wpa_sum"]
df_agg.sort_values("wpa_sum",ascending=False)

                                         wpa_mean   wpa_sum
match
Washington Nationals @ Boston Red Sox    0.047336  4.023588
Houston Astros @ Oakland Athletics       0.048069  3.701328
Chicago White Sox @ Detroit Tigers       0.040643  3.454664
Arizona Diamondbacks @ Colorado Rockies  0.040189  3.255280
New York Yankees @ Tampa Bay Rays        0.042199  2.953960
St. Louis Cardinals @ Chicago Cubs       0.045477  2.728608
Miami Marlins @ Philadelphia Phillies    0.036824  2.651340
Pittsburgh Pirates @ Cincinnati Reds     0.027912  2.232932
Seattle Mariners @ Los Angeles Angels    0.023288  2.095896
Los Angeles Dodgers @ Milwaukee Brewers  0.023461  1.806508
Kansas City Royals @ Minnesota Twins     0.022860  1.783080
Texas Rangers @ Cleveland Indians        0.018160  1.398328
San Francisco Giants @ San Diego Padres  0.016718  1.304028
Toronto Blue Jays @ Baltimore Orioles    0.011846  1.054304
Atlanta Braves @ New York Mets           0.015390  0.969564